@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Ubuntu:wght@300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.menu-container {
    color: #fff;
    background-color: #1f2937;
    padding: 20px 0;
    display: flex;
    justify-content: center;

}

.menu {
    border: 2px solid #fff;
    width: 800px;
    display: flex;
    justify-content: space-between;
}

.logo {
    justify-content: flex-start;
}

a {
    color:#fff;
    text-decoration: none;
}

.header-container {
    color:#1f2937;
    background-color: #607791;
    display: flex;
    justify-content: center;
}

.header{
    width: 800px;
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-text {
    align-self: flex-end;
    width: 200px;
    height: 100px;


}

.header-item {
    display: flex;
    justify-content: center;
    border: 1px solid #fff;
    
}

.body-container {
    display: flex;
    justify-content: center;
}

.main-body {
    width: 900px;
    display: flex;
    justify-content: center;
    flex-direction:row;
    align-items: center;
    margin: auto;
    padding: 0px;
}

.body-item {
    display: flex;
    justify-content: center;
    border: 1px solid #fff;
}

img {
    border: 1px solid #111010;
    border-radius: 10%;
    padding: 10px;
    width: 300px;
    height: auto;
}

.first-item {
    order: 1;
}

.last-item {
    order: -1;
}

.footer {
    display: flex;
    justify-content: space-between;
}

.footer-item {
    border: 1px solid #fff;
    background-color: #1f2937;
    height: 200px;
    flex: auto;
}

.footer-one, .footer-three {
    background-color: #5995da;
    flex: initial;
    width: 300px;
}