@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Ubuntu:wght@300&display=swap');

* {
    background-color: rgb(54, 48, 48);
    color:lightblue;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.menu-container {
    display: flex;
    justify-content: center;
    margin: auto;
    padding: auto;

}

.menu {
    border: 2px solid #fff;
    width: 800px;
    display: flex;
    justify-content: center;
}

.header-container {
    display: flex;
    justify-content: center;
    background-color: midnightblue;
}

.header{
    width: 800px;
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-item {
    display: flex;
    justify-content: center;
    border: 1px solid #fff;
    
}